footer {
  width: 100%;
  min-height: 15vh;
  background: #e8e7e6;
}

.footer--container {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 3rem;
}

.footer--reassurance {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  filter: brightness(0.9);
  background: #e8e7e6;
  &--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 250px;
    min-height: 250px;
    margin: 2rem;
    margin-top: 0;
    }
    &--text {
      padding: 0.7em;
      max-width: 15ch;
      text-align: center;
      min-height: 5ch;
  }
}

.footer--quickfeature {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  &--wrapper {
    height:300px;
    width: calc(100% / 2);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &:nth-of-type(1n) {
      background:var(--main-brown);
    }
    &:nth-of-type(2n) {
      background: var(--main-brown);
      filter: brightness(1.1);

    }
  }
  &--title {
    font-size: 1.8rem;
    text-align: center;
    padding: 1.2rem;
    max-width: 42ch;
  }
  &--text {
    max-width: 42ch;
    text-align: center;
    padding: 1.2rem;
  }
  &--btn{
    padding:0.8rem;
    margin: 2rem 0;
  }
  &--field {
    height: 2.6rem;
    &Wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
.footer--nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
  
  &--ul {
    list-style-type: none;
    margin-bottom: 2rem;
    & li { 
      padding: 0.6rem;
      &:first-of-type {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }
}
